body {
    background-color: #000;
    color: #eeeeee;
}

.container {
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-columns: 125px 125px;
}

#date {
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.5em;
}

ol {
    display:grid;
    width: 250px;
    padding: 0;
}

li {
    list-style-position: inside;
    color: #00adb5;
    background-color: #393e46;
}

li:nth-child(2n) {
    background-color: #222831;
}